body{
    margin: 0;
    padding: 0;
}

.content{
    background-color: rgb(113, 231, 252);
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#quote-box{
    background-color: rgb(25, 161, 240);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 30%;
    border-radius: 0.6rem;
}

#text{
    text-align: center;
    margin-bottom: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    
}


#author{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    color: white;
}


.footer-box{
    display: flex;
    justify-content: space-between;
}

.logo-twitter{
    height: 30px;
    width: 40px;
    border-radius: 0.3rem;
}


#new-quote{
    border-radius: 0.3rem;
}


@media (max-width: 933px){
    #quote-box{
        width: 50%;
    }
}

@media (max-width: 766px){
    #quote-box{
        width: 60%;
    }
}

@media (max-width: 650px){
    #quote-box{
        width: 70%;
    }
}

@media (max-width: 590px){
    #quote-box{
        width: 80%;
    }
}

@media (max-width: 373px){
    #quote-box{
        width: 90%;
    }
}

